.content
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.square
{
    margin: 30px;
    border: solid;
    padding: 10px 20px;
    text-align: center;
}