#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    #border: solid;
    padding: 10px 20px;
}
nav
{
    min-width: 100%;
}

#login {
    border: none;
    padding: 10px 20px;
    borderRadius: 8px;
    background: limegreen;
    cursor: pointer;
    color: white;
}

#search
{
    #border: solid;
    padding: 10px 20px;
    borderRadius: 8px;
    color: white;
}
#footer
{
    display: flex;
    justify-content: center;
}